<html>
  <body>
    <div class="menu">
    MENU 
      {% rendersection menu %}
    </div>
    
    <div class="content">
    BODY 
      {% renderbody %}
    </div>
    
    <div class="footer">
    FOOTER 
      {% rendersection footer %}
    </div>
  </body>
</html>