{% layout '_layout.liquid' %}

This is is the home page

{% section menu %}
  <a href="h#">This link goes in the menu</a>
{% endsection %}

{% section footer %}
   Dear {{ Name }}, You are totally {{ Compliment }}.
{% endsection %}