<extends src="src/layouts/main.html">
  <block name="content">
    <h1 class="font-bold text-black text-2xl sm:text-xl">Confirm your Email</h1>
    <p class="text-gray-700 text-base">
      Follow this link to confirm your account:
    </p>
    <div class="leading-6 sm:h-8">&zwnj;</div>
    <a
      href="@{{ ConfirmationURL }}"
      class="shadow-lg inline-block py-5 px-12 text-sm leading-none [text-decoration:none] text-white font-semibold rounded-md bg-ocean hover:bg-ocean-hover"
    >
      <span>Confirm your email →</span>
    </a>
  </block>
</extends>
