@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<h1>@ViewData["Title"]</h1>
<div>
    <form id="account" method="post">
        <h2>Use a local account to log in.</h2>
            
        <div asp-validation-summary="ModelOnly"></div>
        <div>
            <input asp-for="Input.Email" autocomplete="username" aria-required="true" />
            <label asp-for="Input.Email"></label>
            <span asp-validation-for="Input.Email"></span>
        </div>
        <div>
            <input asp-for="Input.Password" autocomplete="current-password" aria-required="true" />
            <label asp-for="Input.Password"></label>
            <span asp-validation-for="Input.Password"></span>
        </div>
        <div>
            <div>
                <label asp-for="Input.RememberMe">
                    <input asp-for="Input.RememberMe" />
                    @Html.DisplayNameFor(m => m.Input.RememberMe)
                </label>
            </div>
        </div>
        <div>
            <button id="login-submit" type="submit">Log in</button>
        </div>
        <ul>
            <li><a id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a></li>
            <li><a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a></li>
            <li><a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a></li>
        </ul>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
