@page
@model ResendEmailConfirmationModel
@{
    ViewData["Title"] = "Resend email confirmation";
}

<h1>@ViewData["Title"]</h1>
<h2>Enter your email.</h2>

<div>
   <form method="post">
        <div asp-validation-summary="All"></div>
        <div>
            <label asp-for="Input.Email"></label>
            <input asp-for="Input.Email" aria-required="true" />
            <span asp-validation-for="Input.Email"></span>
        </div>
        <button type="submit">Resend</button>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
