<extends src="src/layouts/base.html">
  <block name="template">
    <table class="w-full font-sans bg-paper">
      <tr>
        <td align="center" class="py-8">
          <table class="w-full mt-8">
            <tr>
              <td class="text-center pb-6 sm:pb-3 px-11">
                <a href="@{{ SiteUrl }}"><img class="w-60" src="https://minio-s3.core.cbapps.co.za/keepdishing/logo.png" /></a>
              </td>
            </tr>
            <tr>
              <td align="center" class="px-4">
                <table class="w-160 sm:w-full">
                  <tr>
                    <td class="bg-white shadow-lg rounded-lg p-12 sm:px-6 text-center">
                      <block name="content"></block>
                    </td>
                  </tr>
                  <component src="src/components/footer.html"></component>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </block>
</extends>
